.App {
  text-align: center;
  height: 70px;
  margin-top: 40px;
}

.App-header {
  background-color: #222;
  height: 20px;
}

.App-title {
  margin: 2px 0 15px 0;
  color: #06EE61;
}

.App-intro {
  font-size: large;
}

.App-logo {
  height:50px;
  width: 150px;
}

.App-input { 
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
  background-color : #F5F5F5; 
  width: 350px;
}

.App-input-button {
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
  background-color: #06EE61;
  border: 0;
  box-shadow: none;
  width: 100px;
  height: 30px;
  font-size : 20px;
  font-weight: bold;
  color: white;
  margin-top: 30px
}