.Header {
    height: 40px;
}

.Header-logo {
    height:25px;
    width: 60px;
    margin: 10px 10px 10px 20px;
}

.Header-login {
    margin-left: 20px;
    height:30px;
    width:30px;
    margin-top:5px;
}

.inline {
    float:left; 

}
.inline-right {
    float:right;
}

.text {
    margin-top: 2px;
    font-size: 16px;
    color: #06EE61;
    line-height: 40px;
}