.Nav {
    background: #06EE61;
    padding: 0;
    display: table;
    width: 100%;
    height: 40px;
}

.Nav-left {
    position: absolute;
    left: 0px;
    width: 50%;
    background: #06EE61;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
    font-size: 18px;
    font-weight: bold
}

.Nav-right {
    position: absolute;
    right: 0px;
    width: 50%;
    background: #06EE61;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold
}

.optionText {
    text-decoration: none;
    color:white;
}