.Point {
    background:white;
    padding: 0;
    display: table;
    width: 100%;
    height: 100px;
}

.Point-left {
    margin: 50px; 
    border: 5px solid #06EE61;
    border-radius:15px; 
    position: absolute;
    left: 0px;
    width: 40%;
    background: white;
    text-align: center;
    vertical-align: middle;
    line-height: 20px; 
    font-size: 18px;
    font-weight: bold;
    color: #06EE61;
}

.Point-right {
    margin: 50px; 
    border: 5px solid #06EE61;
    border-radius:15px; 
    position: absolute;
    right: 0px;
    width: 40%;
    background: white;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #06EE61;
}

.Point-subj {
    text-align: center;
    color: #06EE61; 
    font-size : 20px;
    font-weight: bold;
}

.Point-button-div {
    text-align: center;
    margin: 20px
}

.Point-button {
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    background-color : #06EE61; 
    width: 300px;
    color: white;
    font-size : 20px;
    font-weight: bold;
}